.article-date {
  display: inline-block;
  position: relative;
}
.date-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: var(--red-1);
  border-radius: 50%;
  font-size: 2em;
  margin-bottom: 1em;
  margin-top: -1.1em;
}
.date-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.date-year,
.date-day {
  color: #fff;
  display: block;
  line-height: 1; /* 垂直居中 */
}
.date-year {
  font-size: 0.6em; /* 年份字体大小 */
}
.date-day {
  font-size: 1.1em; /* 日期字体大小 */
}
.main-nav-icon,
.main-nav-link,
.main-nav-link-wrap {
  font-size: 20px;
  color: var(--black-white);
}
.main-nav-icon {
  margin-bottom: -3%;
  margin-right: -7%;
}
.sidebar-wrapper .sidebar-state {
  color: var(--black-white);
}
.sidebar-wrapper .sidebar-author-name {
  color: var(--black-white);
}
.nav-icon {
  font-size: 18px;
  color: var(--black-white);
}
.sidebar-menu-link-wrap {
  margin: 8px 50px;
  display: flex;
  position: relative;
  justify-content: center;
  border: 10px var(--color-red-3-shadow);
  transition: border 0.5s;
}
.sidebar-menu-link-wrap:hover {
  border: 10px var(--color-h2-after);
}
.sidebar-menu-link-wrap:hover .sidebar-menu-icon:before {
  transform: rotate(90deg) scale(1.1);
}
.sidebar-social {
  margin-bottom: 1em;
  margin-top: 1em;
}
.link-active {
  background: var(--red-0);
  border: 10px var(--color-wrap);
  box-shadow: 0 0 10px 3px var(--color-red-6-shadow);
  opacity: 0.8;
  border-radius: 20px; /* 添加圆角 */
}
#wrap .sidebar-menu {
  display: none;
}
.footer-info-sep {
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.sidebar-top .sidebar-top-taichi {
  transform: scale(0.6);
  margin-top: 3%;
  border-radius: 0%;
}
.main-nav-link {
  margin-top: 1.5%;
}
#header-nav {
  background-color: var(--head-color);
  backdrop-filter: blur(10px); /* 毛玻璃效果 */
  -webkit-backdrop-filter: blur(10px); /* 兼容 WebKit 浏览器 */
  padding: 10px; /* 可选：添加内边距 */
}
#nav-moon-btn,
#nav-sun-btn {
  transform: scale(1.4);
  margin-top: -6%;
}
